nav.navbar {
  background-color: var(--color-white) !important;
}

a.navbar-brand {
  outline: none;
}

.navbar-collapse form input {
  outline: none;
  border: none;
  background-color: var(--color-white);
  width: 100%;
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.btn-primary:hover {
  background-color: var(--main-color-600) !important;
  border-color: var(--main-color-600) !important;
}

li.nav-item a.nav-link:hover {
  color: var(--main-color) !important;
}

.dropdown-menu {
  width: 250px;
  transform: translate(-25%, 0);
}
