<nav class="navbar navbar-expand-lg shadow-sm bg-body-tertiary py-3">
  <div class="container">
    <a class="navbar-brand p-2" href="#">
      <img src="assets/images/Jumia-Logo.png" alt="Logo" width="150" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
      id="navbarSupportedContent"
    >
      <form class="d-flex flex-grow-1 justify-content-end me-2" role="search">
        <div
          class="w-75 me-2 d-flex align-items-center border border-secondary rounded px-1"
        >
          <span
            class="material-symbols-outlined text-muted mx-1 user-select-none"
            >search</span
          >
          <input
            class="flex-grow-1"
            type="search"
            placeholder="Search products, brands and categories"
            aria-label="Search"
          />
        </div>
        <button
          class="btn btn-primary px-4 text-uppercase shadow-sm"
          type="submit"
        >
          Search
        </button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item p-0 dropdown">
          <a
            class="nav-link d-flex align-items-center justify-content-center gap-1 text-muted fw-semibold"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><span class="material-symbols-outlined fs-3">person</span> Account
            <span class="material-symbols-outlined"
              >keyboard_arrow_down</span
            ></a
          >
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item">
                <a href="" class="btn btn-primary w-100 p-2 text-uppercase"
                  >Sign in</a
                >
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item my-1">
                <a
                  class="text-decoration-none text-secondary w-100 d-flex align-items-center"
                >
                  <span class="material-symbols-outlined fs-3 me-3"
                    >person</span
                  >
                  My Account
                </a>
              </a>
            </li>
            <li>
              <a class="dropdown-item my-1">
                <a
                  class="text-decoration-none text-secondary w-100 d-flex align-items-center"
                >
                  <span class="material-symbols-outlined fs-3 me-3"
                    >inventory_2</span
                  >
                  Orders
                </a>
              </a>
            </li>
            <li>
              <a class="dropdown-item my-1">
                <a
                  class="text-decoration-none text-secondary w-100 d-flex align-items-center"
                >
                  <span class="material-symbols-outlined fs-3 me-3"
                    >favorite</span
                  >
                  Saved Items
                </a>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown p-0">
          <a
            class="nav-link d-flex align-items-center justify-content-center gap-1 text-muted fw-semibold"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><span class="material-symbols-outlined fs-3">help</span> Help
            <span class="material-symbols-outlined"
              >keyboard_arrow_down</span
            ></a
          >
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Help center</a
              >
            </li>
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Place an order</a
              >
            </li>
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Pay for your order</a
              >
            </li>
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Track your order</a
              >
            </li>
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Cancel an order</a
              >
            </li>
            <li>
              <a class="dropdown-item text-muted my-2 px-2" href="#"
                >Cancel a return</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">
                <a
                  href=""
                  class="btn btn-primary w-100 p-2 text-uppercase d-flex align-items-center justify-content-center"
                >
                  <span class="material-symbols-outlined fs-4 me-3">sms</span>
                  Live Chat</a
                ></a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link d-flex align-items-center justify-content-center gap-1 text-muted fw-semibold"
            aria-current="page"
            href="#"
            ><span class="material-symbols-outlined fs-3">shopping_cart</span>
            Cart</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
